@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@font-face {
  font-family: 'Sohne-Bold';
  src: url('/fonts/Sohne-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sohne-Regular';
  src: url('/fonts/Sohne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SohneMono-Bold';
  src: url('/fonts/SohneMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SohneMono-Regular';
  src: url('/fonts/SohneMono-Regular.woff2') format('woff2');
}